* {
    font-family: cursive;
}

.image {
    background-image: url(../images/pattern.jpeg);
    background-size: cover;
    background-position: center;
    
  }

  .heading {
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    text-align: center;
  }
  
  .brushdesk {
    font-size: 32px;
    font-weight: bold;
    background-color: darksalmon;
    color: white;
  }

  .framesdesk {
    font-size: 32px;
    font-weight: bold;
    background-color: palevioletred;
    color: white;
  }

  .paintdesk {
    font-size: 32px;
    font-weight: bold;
    background-color: rgba(29, 168, 145, 0.719);
    color: white;
  }

  .strong {
    color:cornflowerblue;
    font-weight: bold;
    
  }